<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>QuimLab - Register</title>
</head>
<body>
    <main class="content_register">
        <div class="title">
            <h1>Registre-se</h1>
        </div>
        <div class="div_bar">
            <div class="bar"></div>
        </div>
        <div class="form">
            <input class="name" type="text" placeholder="Nome">
            <input class="surname" type="text" placeholder="Sobrenome">
            <input  class="email" type="email" placeholder="Email">
            <input  class="password" type="password" placeholder="Senha">
            <input class="birthday" type="date" placeholder="Data de Nacimento">
            <a href="../home/index.html">
                <button class="submit">
                    Registrar
                </button>
            </a>

        </div>
        
    </main>
</body>
</html>