<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>QuimLab - Login</title>
</head>
<body>
    <main class="content_register">
        <div class="title">
            <h1>Login</h1>
        </div>
        <div class="div_bar">
            <div class="bar"></div>
        </div>
        <div class="form">
            <input  class="email" type="email" placeholder="Email">
            <input  class="password" type="password" placeholder="Senha">
            <a href="../home/index.html">
                <button class="submit">
                    Entrar
                </button>
            </a>

        </div>
</body>
</html>