<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>QuimLab</title>
</head>
<body>
    <div class="nav">
        <nav class="navbar">
            <div class="content_nav">
                <h1 class="page_title">QuimLab</h1>
                <div class="btns">
                    <a class="about">
                        <h3>Sobre</h3>
                    </a>
                    <a class="contact">
                        <h3>Contate-nos</h3>
                    </a>
                    <a href="../register/index.html">
                        <div class="register" >
                            <h3>Registre-se</h3>
                        </div>
                    </a>
                    <a href="../login/index.html">
                        <div class="login" >
                            <h3>Login</h3>
                        </div>
                    </a>
                    
                </div>
            </div>
            
            <div class="bar"></div>
        </nav>
       
    </div>
    
    <div class="content">
        <main>
            <div class="initial_content">
                <div class="prominence">
                    <h1 class="initial_content_title">Cálculos complexos de forma Rápida e Eficiente</h1>
                    <p class="initial_content_subtitle">
                        Efetue cálculos complexos de forma rápida e eficiente
                    </p>
                    <a href="../login/index.html">
                        <button class="initial_content_btn">
                            <h3>Teste Gratuitamente</h3>
                        </button>
                    </a>

                </div>
                
            </div>
            <div>
                <h1>Sobre nós</h1>
                <p>Nós somos um grupo de pesquisa da</p>
            </div>
        </main>
    </div>
    

    <div class="footer">
        <footer>
            <h4 class="copyright">© 2023 Quimlab. Todos os direitos reservados.</h4>
        </footer>
    </div>

    
</body>
</html>