*{
    padding: 0px;
    margin: 0px;
    font-family: 'Nanum Gothic', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nanum+Gothic&display=swap');

/* Navbar */
.navbar{
    background-color: #033023;
    padding: 1.5rem;
}

.bar{
    border-top: 1px solid white; /* Cor e estilo da borda */
    margin-top: 20px; /* Ajuste conforme necessário */
    margin-bottom: 20px; /* Ajuste conforme necessário */
}

.content_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}


.btns{
    display: flex;
}
.contact{
    margin-left: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    color: rgb(213, 255, 151);
    transition: 0.4s;
}

.test_nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.test_nav_btn{
    display: flex;
    background-color: rgb(213, 255, 151);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    color: #10674e;
    padding: 0.7rem;
    transition: 0.4s;
}

.test_nav_btn:hover{
    color: black;
    background-color: white;
}


.contact:hover{
    color: white;
}

.about:hover{
    color: white;
}

.about{
    margin-left: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    color: rgb(213, 255, 151);
    transition: 0.4s;
}

.register{
    margin-left: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    color: rgb(213, 255, 151);
    transition: 0.4s;  
}


.register:hover{
    color: white;
}

.login{
    margin-left: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    color: rgb(213, 255, 151);
    transition: 0.4s;
}

a:visited, a:link{
    text-decoration: none;
}

.login:hover{
    color: white;
}



.content{
    overflow-x: auto;
}
.page_title{
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.page_title:hover{
    font-size: 1.7rem;
}


/* Footer */

.copyright{
    color: white;
}

footer{
    display: flex;
    align-items: center;
    background-color: #033023;
    width: 100%;
    height: 50px;
    /*position: relative;*/
    position: relative;
    margin: auto;
    bottom: 0;
}

/* Content */

.initial_content{
    background-color: #033023;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 9rem;
}


.initial_content_title{
    font-size: 40px;

    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.initial_content_title:hover {
    font-size: 45px;
    color: yellow;
}

.initial_content_subtitle{
    color: rgb(213, 255, 151);
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s; 
}
.initial_content_subtitle:hover{
    font-size: 19px;

}


.prominence{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

/* Aba de Calculos*/

.avaliable_calculus{
    display: flex;
    flex-direction: row;
}

.ea_calculus{
    background-color: rgb(213, 255, 151);
    margin: 1rem;
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
}

.lost_charge{
    cursor: pointer;
    margin: 1rem;
    width: 31.25rem;
    height: 31.25rem;
    background-color: rgb(213, 255, 151);
    border-radius: 5px;
    transition: 0.4s;
}

.bombs_calculus{
    cursor: pointer;
    margin: 1rem;
    width: 31.25rem;
    height: 31.25rem;
    background-color: rgb(213, 255, 151);
    border-radius: 5px;
    transition: 0.4s;
}

.ea_calculus:hover, .bombs_calculus:hover, .lost_charge:hover{
    width: 32rem;
    height: 32rem;
}

